<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  
  
  <body>
    <h1> About </h1>
    <p>
      Blank
    </p>



    <p>Find me in app/views/static_pages/about.html.erb</p>

  </body>
</html>
