<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  
  
  <body>
    <h1> About </h1>
    <p>
      Blank
    </p>
  </body>
</html>

<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>
